/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    /*font-size: 1em;*/
    line-height: 1.4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
}

h2{
    text-align: center;
}

a {
  color: blue;
}
